<footer>
  <div class='container'>
    <div class='row'>
      <div class='col-12'>
  <div class='bait text-center' >
    <span>With the kind support of:</span>
  </div>
      </div>
    </div>
  </div>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-md-4'>
        <div class='img-wrapper'>
          <a href="https://www.uni-saarland.de/nc/startseite.html">
            <img src='{{"assets/images/Logo-Universitat_des_Saarlandes.svg.png" | relative_url}}'>
          </a>
        </div>
        <div class='label-wrapper'>
          <p>
            <a href="https://www.uni-saarland.de/nc/startseite.html">Universität des Saarlandes</a></p>
        </div>
        <div class='col-sm-6 col-md-4'>
        <div class='img-wrapper'>
          <a href='https://www.uni-saarland.de/lehrstuhl/zeitgeschichte/hueser.html' target='_blank'><img src='{{"assets/images/populärkultur_logo_v3c2.jpg"  | relative_url}}'></a>
         </a>
        </div>
        <div class='label-wrapper'>
      </div>
      <div class='col-sm-6 col-md-4'>
        <div class='img-wrapper'>
          <a href='http://www.dfg.de/' target='_blank'>
            <img src='{{"assets/images/DFG-logo-blau.svg.png"  | relative_url}}'>
          </a>
        </div>
        <div class='label-wrapper'>
          <p><a href='http://www.dfg.de/' target='_blank'>Deutsche<br/> Forschungsgemeinschaft</a></p>
        </div>
      </div>
      <div class='col-sm-6 col-md-4'>
        <div class='img-wrapper'>
          <a href='https://history.uni.lu/' target='_blank'><img src='{{"assets/images/Logo_Ihist.png"  | relative_url}}'></a>
        </div>
        <div class='label-wrapper'>
          <p><a href='https://history.uni.lu/' target='_blank'> I-hist <br/> Institute for History </a> &middot; University of Luxembourg</p>
        </div>
      </div>
      <div class='col-sm-6 col-md-4'>
        <div class='img-wrapper'>
          <a href='https://c2dh.uni.lu' target='_blank'><img style="height: 80px;width: auto" src='{{"assets/images/c2dh-logo.png"  | relative_url}}'></a>
        </div>
        <div class='label-wrapper'>
          <p><a href='https://c2dh.uni.lu' target='_blank'>C<sup>2</sup>DH<br/> Center for Contemporary and Digital History</a> &middot; University of Luxembourg</p>
        </div>
      </div>
      <div class='col-sm-6 col-md-4'>
        <div class='img-wrapper'>
          <a href='https://uni.lu' target='_blank'><img src='{{"assets/images/unilu.svg"  | relative_url}}'></a>
        </div>
        <div class='label-wrapper'>
          <p><a href='https://uni.lu' target='_blank'>University of Luxembourg</a></p>
        </div>
      </div>
      <div class='col-sm-6 col-md-4'>
        <div class='img-wrapper'>
          <a href='https://www.fnr.lu/' target='_blank'><img src='{{"assets/images/FNR_logo_vecto_noir.gif"  | relative_url}}'></a>
        </div>
        <div class='label-wrapper'>
          <p>Supported by the <a href='https://www.fnr.lu/' target='_blank'>Luxembourg National Research Fund</a></p>
        </div>
      </div>
 <div class='col-12'>
  <div class='bait text-center' >
    <span> {% assign key = 'copyright footer'%}{% include t.html %} </span>
    </div>
    <!-- <div class='row'>
      v. {{site.github.build_revision | slice: 0, 7}}
    </div>
    -->
  </div>

</footer>
