<footer>
  <div class='container'>
    <div class='row'>
      <div class='col-12'>
  <div class='bait text-center' >
    <span>With the kind support of:</span>
  </div>
      </div>
    </div>
  </div>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-md-3'>
        <div class='img-wrapper'>
          <img src='{{"assets/images/Logo-Universitat_des_Saarlandes.svg.png" | relative_url}}'>
        </div>
        <div class='label-wrapper'>
          <p>Universität des Saarlandes</p>
        </div>
      </div>
      <div class='col-sm-6 col-md-3'>
        <div class='img-wrapper'>
          <img src='{{"assets/images/DFG-logo-blau.svg.png"  | relative_url}}'>
        </div>
        <div class='label-wrapper'>
          <p>Deutsche<br/> Forschungsgemeinschaft</p>
        </div>
      </div>
      <div class='col-sm-6 col-md-3'>
        <div class='img-wrapper'>
          <img src='{{"assets/images/ihist.svg"  | relative_url}}'>
        </div>
        <div class='label-wrapper'>
          <p>I-hist</p>
        </div>
      </div>
      <div class='col-sm-6 col-md-3'>
        <div class='img-wrapper'>
          <img src='{{"assets/images/unilu.svg"  | relative_url}}'>
        </div>
        <div class='label-wrapper'>
          <p>University of Luxembourg</p>
        </div>
      </div>

    </div>
  </div>
</footer>
