<footer>
  <div class='bait text-center' style='margin-top : 50px;'>
    <span>With the kind support of:</span>
  </div>
  <div class='container'>
    <div class='row'>
      <div class='col-3'>
        <div class='img-wrapper'>
          <img src='{{"assets/images/Logo-Universitat_des_Saarlandes.svg.png" | relative_url}}'>
        </div>
        <div class='label-wrapper'>
          Universität des Saarlandes
        </div>
      </div>
      <div class='col-3'>
        <div class='img-wrapper'>
          <img src='{{"assets/images/DFG-logo-blau.svg.png"  | relative_url}}'>
        </div>
        <div class='label-wrapper'>
          Deutsche Forschungsgemeinschaft
        </div>
      </div>
      <div class='col-3'>
        <div class='img-wrapper'>
          <img src='{{"assets/images/ihist.svg"  | relative_url}}'>
        </div>
        <div class='label-wrapper'>
          I-hist
        </div>
      </div>
      <div class='col-3'>
        <div class='img-wrapper'>
          <img src='{{"assets/images/unilu.svg"  | relative_url}}'>
        </div>
      </div>

    </div>
  </div>
</footer>
