<div id='nav-menu'>
  <div class='container-fluid'>
    <div class='row no-gutters'>
      <div id='popkult-logo'>
        <img src="{{'/assets/images/popkult60-logo.svg' | relative_url}}">
      </div>
    </div>
  </div>
  <!-- 11 - contained in center example -->
  <div class="container">
  <nav  class="navbar navbar-expand " data-toggle="affix">

      <!-- <div class="mx-auto d-sm-flex d-block flex-sm-nowrap"> -->

          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button> -->
          <div class="navbar-collapse collapse justify-content-between align-items-center w-100">
              <ul class="navbar-nav flex-wrap">
                {% for link in site.data.navigation.primary.links %}
                  {% assign is_active = false %}
                  {% assign show_following=false %}
                  {% if page.link == link.href %}
                    {% assign is_active=true %}
                  {% endif %}
                  {% if page.activelink == link.href %}
                    {% assign is_active=true %}
                  {% endif %}
                  {% if link.follow %}
                    {% if page.layout == link.follow %}
                      {% assign is_active=true %}
                      {% assign show_following=true %}
                    {% endif %}
                  {% endif %}
                  <li class="nav-item {% if is_active %} active {% endif %}">
                    <a class="nav-link text-center "
                      {% if page.lang == site.default_lang %}
                        href='{{link.href | relative_url}}'
                      {% else %}
                        href='{{page.lang | relative_url}}{{link.href}}'
                      {% endif %}>{% assign key=link.title%}{% include t.html %}

                    </a>
                  </li>

                {% endfor %}

              </ul>

              {% include languages.html %}
          </div>

  </nav>
    </div>
</div>
