<nav id='nav-menu' class='navbar navbar-expand-sm fixed-top'>
  
    <ul class="navbar-nav">
      {% for link in site.data.navigation.primary.links %}
      <li class="nav-item {% if page.link == link.href %} active {% endif %}">
        <a class="nav-link" 
          {% if page.lang == site.default_lang %} 
            href='{{link.href | relative_url}}' 
          {% else %} 
            href='{{page.lang | relative_url}}{{link.href}}'
          {% endif %}>{% assign key=link.title%}{% include t.html %}</a>
      </li>
      {% endfor %}
    </ul>

  <ul class='nav languages'>
    {% for lang in site.languages %}
    <li class="nav-item {% if lang == page.lang %} active {% endif %}">
      <a class="nav-link" {% if lang == site.default_lang %} href='{{page.link | relative_url}}' {% else %} href='{{lang | relative_url}}{{page.link}}' {% endif %}><span>{{lang}}</span></a>
    </li>
    {% endfor %}
  </ul>
</nav>