<div id='nav-menu'>
  <div class='container-fluid'>
    <div class='row no-gutters'>
      <div id='popkult-logo'>
        <img src="{{'/assets/images/popkult60-logo.png' | relative_url}}">
      </div>
    </div>
  </div>
  <!-- 11 - contained in center example -->
  <nav  class="navbar navbar-expand " data-toggle="affix">

      <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-center">
              <ul class="navbar-nav">
                {% for link in site.data.navigation.primary.links %}
                  <li class="nav-item {% if page.link == link.href %} active {% endif %} {% if page.activelink == link.href %} active {% endif %}">
                    <a class="nav-link text-center "
                      {% if page.lang == site.default_lang %}
                        href='{{link.href | relative_url}}'
                      {% else %}
                        href='{{page.lang | relative_url}}{{link.href}}'
                      {% endif %}>{% assign key=link.title%}{% include t.html %}
                    </a>
                  </li>
                {% endfor %}
                  <li class="nav-item active">

                  </li>

                  {% for lang in site.languages %}
                  <li class="nav-item {% if lang == page.lang %} active {% endif %}">
                    <a class="nav-link" {% if lang == site.default_lang %} href='{{page.link | relative_url}}' {% else %} href='{{lang | relative_url}}{{page.link}}' {% endif %}><span>{{lang}}</span></a>
                  </li>
                  {% endfor %}
              </ul>
          </div>
      </div>
  </nav>
</div>
