body.blog {
  .card-body{
    background-color: $floyd-pink-c;

  }
  .card-text{
    color: $black;
  }

  #list-of-audiopost.filtered .audiopost{
    opacity: .15;

    &.active{
      opacity:1
    }
  }
}
