---
---
$white: #ffffff;
$silver: #F3F7FA;
$yellow: #fdfd40;
$blue: #738BDB;
$cadmio: #EB4C15;
$dark-grey: #565656;
$pink: #dba3be;
$lavender: #71abdd;

$bright-purple: #fe61ac;

$floyd-purple: #b459dc;
$floyd-purple-c: #5af63e;
$floyd-orange: #ee7236;
$floyd-orange-c: #ffe920;
$floyd-indaco: #0279b4;
$floyd-indaco-c: #ce291d;
$floyd-pink: #ee578d;
$floyd-pink-c: #37ffd1;

$floyd-dark: #41061b;

@import "fonts";

html, body{
  height: 100%;
}
body{
  background-color: $floyd-pink-c;
  color: $floyd-pink;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
}

a{
  color: $dark-grey;
}

.fit-height{
  min-height: 100%;
}

@import "_layouts/page", "_layouts/index", "_layouts/fields";
@import "_includes/nav", "_includes/footer";
