body.field{
  background-color: #fa5fa9;
}

div.field{
  min-height: 200px;
  margin-bottom: 15px;
  margin-top: 15px;


  .cover-wrapper{
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    margin:0;
    position:relative;

    .cover{
      position:absolute;
      top:0;
      left:0;
      margin:0;
      padding:0;
      height: 100%;
      width: 100%;

      background: transparent; //$floyd-indaco;

      overflow: hidden;

    }
  }

  .opt{
    position:absolute;
    left: $moire-expand;
    top: $moire-expand;
    right: $moire-expand;
    bottom:$moire-expand;

    background: repeating-linear-gradient(0deg, $cadmio 0px, $cadmio 1px, rgba(0,0,0,0) 1px, rgba(0,0,0,0) 5px);



    &.odd{
      transform: rotate(2deg);
      background: repeating-linear-gradient(0deg, $blue 0px, $blue 1px, rgba(0,0,0,0) 1px, rgba(0,0,0,0) 5px);
    }
  }



  .metadata{
    background: $floyd-pink-c;
    position: relative;
    margin: 0;
    padding: 15px;

    h2{
      margin-bottom: 15px;
      border-bottom: 2px solid $floyd-dark;
      line-height: 25px;
      padding-bottom: 15px;
      span{

        font-family: Olio-Bold, Helvetica, sans-serif;
        background: $floyd-dark;
        font-size: 25px;
        line-height: 25px;
        color: $white;
        padding: 0px 5px;
      }
    }
    > div{
      font-size: 20px;
      color: $floyd-dark;
    }
  }
}



body.fields div.page{

  .inner{
    padding-left: 25px;
    padding-right: 25px;
  }
}
