$moire-rotation: 4deg;
$moire-expand: -100px;

@-webkit-keyframes moire {
  0% {
    -webkit-transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate($moire-rotation);
  }
  100% {
    -webkit-transform: rotate(0);
  }
}

@keyframes moire {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate($moire-rotation);
  }
  100% {
    transform: rotate(0);
  }
}

body.index{

  .page{
    min-height: 100%;
    background-color: $yellow;
    border-left: none;
    &.no-padding{
      min-height: auto;
    }
  }

  .opt-wrapper{
    position: absolute;
    left:15px;
    top:0;
    right: 15px;
    bottom:0;
    overflow: hidden;
  }

  .opt{
    position:absolute;
    left: $moire-expand;
    top: $moire-expand;
    right: $moire-expand;
    bottom:$moire-expand;

    background: repeating-linear-gradient(0deg, $pink 0px, $pink 2px, rgba(0,0,0,0) 2px, rgba(0,0,0,0) 8px);

  }


}

#popkult-logo{
  position: absolute;
  top: 50%;
  left: 25%;
  right: 25%;
  margin-top: -48px;
  // background: $silver;
  z-index: 5;
  // border: 2px solid $dark-grey;
  > img {
    width: 100%;
  }
}

#opt-b{
  transform: rotate(1deg);
  z-index: 2;
  background: repeating-linear-gradient(0deg, $lavender 0px, $lavender 2px, rgba(0,0,0,0) 2px, rgba(0,0,0,0) 8px);

}

#opt-a{
  z-index: 1;
  transform: rotate($moire-rotation);
  -webkit-animation-name: moire;
  -webkit-animation-duration: 11s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;

  animation-name: moire;
  animation-duration: 11s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

#fillme-wrapper{
  position:absolute; top: 120px; left: 0px;font-size:2.5em;z-index:4;
}

#fillme{
  background-color: $white;
  color: $yellow;
}
