div.page{
  position: relative;
  padding: 200px 0;
}

@media (min-width: 768px){
  div.page > .container {
    margin-left: 220px;
    max-width: 498px;
  }
}

@media (min-width: 992px){
  div.page > .container {
    max-width: 672px;
    margin-left: 220px;
  }
}