div.page{
  position: relative;
  padding: 200px 0;
  background-color: $white;
  // border-left: 30px solid #f1f43F;
  border: 5px solid;
  
  h1, h1 span{
    color: $floyd-pink;
    font-size: 60px;
    font-family: OlioInline;
  }

  h1 span{
    background: $dark-grey;
    font-size: 61px;
    line-height: 87px;

    padding: 0;

    color: $white;
  }
  blockquote.abstract {
    p {
      font-size: 1.7em;
    }


  }

  .contents p{
    font-size: 1.5em;
    color: $dark-grey;
  }
}

@media (min-width: 768px){
  div.page > .container {
    margin-left: 220px;
    max-width: 498px;
  }
}

@media (min-width: 992px){
  div.page > .container {
    max-width: 672px;
    margin-left: 220px;
  }
}
