div.page{
  position: relative;
  padding: 150px 0;
  background: linear-gradient($floyd-pink-c, $floyd-pink);

  // border-left: 30px solid #f1f43F;
  border: 2px solid $floyd-purple;
  border-bottom-width: 0;

  &.middle{
    background: $floyd-dark;
  }

  h1.title{
    text-align: center;
    // border-bottom: 2px solid $floyd-dark;
    margin:0;
    padding-bottom: 3px;
    > span{
      color: $white;
      font-size: 60px;
      line-height: 60px;
      font-family: OlioInline;
      padding: 0;
      background: $floyd-dark;
    }
  }


  h2.subheading{
    margin-top: 2px;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    // border-bottom: 2px solid;
    padding-bottom: 4px;
    span{
      font-family: Olio-Bold;
      background: $floyd-pink;
      color: $white;
      padding: 0 5px;
    }
  }

  blockquote.abstract {
    p {
      color: $floyd-dark;
      font-size: 16px;
    }
    background: $white;
    margin:0;
    padding: 15px;

  }



  .contents {
    background: $white;
    padding: 15px;

    p{
      font-size: 1.5em;
      color: $dark-grey;
    }


  }
}

div.page .contents .card{
  background: $white;
  .card-text{
    font-size: .9em;
  }
}

div.page{
  background: #efefef;
}

@media (min-width: 768px){
  div.page  .contents {
    padding: 40px 50px;
  }

  div.page blockquote.abstract {
    padding: 40px 50px 10px;
    p {
      font-size: 24px;

    }
  }
}

// @media (min-width: 768px){
//   div.page > .container {
//     margin-left: 220px;
//     max-width: 498px;
//   }
// }
//
// @media (min-width: 992px){
//   div.page > .container {
//     max-width: 672px;
//     margin-left: 220px;
//   }
// }
