footer{
  color: $floyd-indaco;
  border: 5px solid;

  .img-wrapper, .label-wrapper {
    width: 100%;
    height: 0;
    padding-bottom: 50%;

  }
  .img-wrapper{
    border-bottom: 2px solid;
  }
  .label-wrapper p{
    font-weight: bold;
margin: 20px 15px;
    word-break: break-all;
  }
  img{
    width: 80%;
    margin: 20px 0;
    max-height: 100px;
  }

  .bait{
    font-family: OlioInline;
    font-size: 20px;
    line-height: 30px;
    border-bottom: 2px solid $floyd-indaco;

    span {
      background-color: $floyd-indaco;
      color: $white;
      padding: 0px;
      font-size: 20px;
      line-height: 40px;
    };
  }
}
