footer{
  color: $floyd-indaco;
  border: 2px solid;
  border-bottom-width: 0;
  background: #a0ca4a;
  padding-bottom: 1rem;
  a{
    color: $floyd-indaco;

    &:hover{
      border-color: $floyd-indaco;
    }
  }
  .img-wrapper, .label-wrapper {
    width: 100%;
    height: 0;
    padding-bottom: 50%;

  }
  .img-wrapper{
    border-bottom: 2px solid;
    a {
      border-bottom: none;
    }
    a:hover{
      border-width: 0;
    }
  }
  .label-wrapper p{
    font-weight: bold;
margin: 20px 15px;
    // word-break: break-all;
  }
  img{
    width: 80%;
    margin: 20px 0;
    max-height: 100px;
  }

  .bait{
    font-family: OlioInline;
    font-size: 20px;
    line-height: 30px;
    border-bottom: 2px solid $floyd-indaco;

    span {
      background-color: $floyd-indaco;
      color: $white;
      padding: 0px;
      font-size: 20px;
      line-height: 40px;
    };
  }
}
