---
layout: default
---

<div class='page'>
  <div class='container'>
    <h1 class='title'>{% assign key="Blog"%}{% include t.html %}</h1>
    <h2 class='subheading'><span>{{page.subheading}}</span></h2>
      <div class='row' >
        {% for post in site.posts %}
        <div class='col-sm-6'>
          <div class='field'>

            {% if post.cover.url %}
              <div class="card">
                <img class='card-img-top' src='{{"" | relative_url}}{{post.cover.url}}'>
                {% if post.cover.caption %}
                <div class="card-body py-0">
                  <p class="card-text">{{post.cover.caption | markdownify }}</p>
                </div>
                {% endif %}
              </div>
            {% endif %}

            <div class='metadata {% if post.cover.caption %} pt-0 {% endif %}'>
              <h2><a href='{{post.url | relative_url}}'><span>{{post.title}}</span></a></h2>
              {% if post.subheading %}<h3>{{post.subheading}}</h3>{% endif %}
              <div>{{ post.excerpt }}</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>






  </div>
</div>
