---
layout: default
---


<div class='page'>
  <div class='fluid-container'>
    
      <div class='row no-gutters' >
        {% assign fields = site.pages | where: "layout", "field" | lang: "en" %}


        {% assign min = 1 %}
        {% assign max = 8 %}
        {% assign diff = max | minus: min %}

        {% for field in fields %}
        {% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}
        <div class='col-sm-3'>
          <div class='field'>
            
            <div class='cover'>
              <div class='opt'></div>
              <div class='opt odd' style='transform: rotate( {{ randomNumber }}deg)'></div>
            </div>
            
            <div class='metadata'>
              <h2><a href='{{field.permalink | relative_url}}'>{{field.title}}</a></h2>
              {% assign parts = page.content | split: site.excerpt_separator %}
              <div>{{parts | first }}</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>


    <h1 class='title'>FIELDS</h1>
    <h2 class='subheading'>{{page.subheading}}</h2>

    <blockquote class="abstract">{{page.excerpt}}</blockquote>

    <section class="contents">
      {{page.content | markdownify }}
    </section>

  </div>
</div>