---
layout: default
---


<div class='page'>
  <div class='container'>
    <h1 class='title'>{% assign key="fields"%}{% include t.html %}</h1>
    <h2 class='subheading'><span>{{page.subheading}}</span></h2>

      <div class='row' >
        {% assign fields = site.pages | where: "activelink", page.link | lang: "en"  | sort: "ordering" %}


        {% assign min = 1 %}
        {% assign max = 8 %}
        {% assign diff = max | minus: min %}

        {% for field in fields %}
        {% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}
        <div class='col-sm-6'>
          <div class='field'>
            <div class='cover-wrapper'>
              <div class='cover'>
                <img src='{{"assets/images" | relative_url}}/{{field.slug}}.svg'>
                <!-- <div class='opt'></div>
                <div class='opt odd' style='transform: rotate( {{ randomNumber }}deg)'></div> -->
              </div>
            </div>
            <div class='metadata'>
              <h2><a href='{{field.permalink | relative_url}}'><span>{{field.title}}</span></a></h2>
              {% assign parts = field.content | split: site.excerpt_separator %}
              <div>{{field.subheading}}</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>






  </div>
</div>
