---
layout: default
---



<div class='page'>
  <div class='opt-wrapper'>
    <div class='opt' id='opt-a'>
    </div>
    <div class='opt' id='opt-b'>
    </div>
    <div id='popkult-logo'>
      <img src="{{'/assets/images/popkult60-logo.png' | relative_url}}">
    </div>
    <div style='position:absolute; top: 60px; left: 20px;font-size:2.5em;z-index:4'>
    <span style='background-color: rgba(255,255,255,.7);' id='fillme'>
      {% for sentence in page.sentences %}
        {{sentence}}<br/>
      {% endfor %}
    </span>
    
  </div>
  </div>
  
  <div class='container'>
  </div>
</div>

<div class='page'>
  project presentation
</div>

<script>
  var sentences = [
    {% for sentence in page.sentences %}
    " ∙ {{sentence}}",
    {% endfor %}  
  ],
  el = document.getElementById('fillme');

  console.log(sentences)

  // modify slightly each sentence
  function tick(){
    var _sentences = sentences.concat([]);

    for (var i = 0, l = sentences.length; i < l; i++) {

      var previous = i == 0? sentences[l - 1]: sentences[i - 1];
      _sentences[i] = previous[previous.length-1] + sentences[i].substring(0, sentences[i].length - 1);

      //var previous = i == 0? sentences[l - 1]: sentences[i - 1];
      //_sentences[i] =  sentences[i].substring(1, sentences[i].length - 1) + previous[0];
      //console.log(i, previous, sentences[i], _sentences[i])
      
    }

    sentences = _sentences;
    // console.log(sentences);

    el.innerHTML = sentences.join('<br/>');
    setTimeout(tick, Math.random()*50 + 50);
  }

  tick();

</script>