---
layout: default
---



<div class='page'>
  <div class='opt-wrapper'>
    <div class='opt' id='opt-a'>
    </div>
    <div class='opt' id='opt-b'>
    </div>
    <div class="container-fluid">
      <div class='row no-gutters'>
        {% assign letters="popkult60popkult60popkult60popkult60popkult60popkult60popkult60popkult60popkult60popkult60popkult60popkult60popkult60popkult60popkult60popkult60popkult60popkult60popkult60popkult60popkult60popkult60popkult60popkult60" | split : '' %}
        {%for letter in letters %}
        <div class='col-2 col-sm-4 col-md-3 col-lg-1'>
          <div class='letter-wrapper'>
            <img src='{{"assets/images" | relative_url }}/letter-{{letter}}.svg'>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div id='fillme-wrapper'>
    <span id='fillme'>
      {% for sentence in page.sentences %}
        {{sentence}}<br/>
      {% endfor %}
    </span>

    </div>
  </div>
  <div class='intro'>
  <div class='container'>
    <section class="contents">

      {{ page.content | markdownify }}
    </section>
  </div>
</div>
</div>

<script>
  var sentences = [
    {% for sentence in page.sentences %}
    " ∙ {{sentence}}",
    {% endfor %}
  ],
  el = document.getElementById('fillme');

  console.log(sentences)

  // modify slightly each sentence
  function tick(){
    var _sentences = sentences.concat([]);

    for (var i = 0, l = sentences.length; i < l; i++) {

      var previous = i == 0? sentences[l - 1]: sentences[i - 1];
      _sentences[i] = previous[previous.length-1] + sentences[i].substring(0, sentences[i].length - 1);

      //var previous = i == 0? sentences[l - 1]: sentences[i - 1];
      //_sentences[i] =  sentences[i].substring(1, sentences[i].length - 1) + previous[0];
      //console.log(i, previous, sentences[i], _sentences[i])

    }

    sentences = _sentences;
    // console.log(sentences);

    el.innerHTML = sentences.join('<br/>');
    setTimeout(tick, Math.random()*50 + 50);
  }

  tick();

</script>
