---
layout: default
---

<div class="page">
  <div class="container">
    <h1 class="title"><span>{{page.title}}</span></h1>
    <h2 class="subheading"><span>{{page.subheading}}</span></h2>
      <div class="row" >
        {% for person in site.data.people %}
        {% if person.thumbnail %}
          {% assign url = person.thumbnail %}
          {% include captures/absolute_url.html %}
        {% else %}
          {% assign absolute_url = "/assets/images/random.png" | relative_url %}
        {% endif %}
        <div class="col-sm-6 col-lg-4">
          <div class="field person">
            <a href="{{person.url}}" target="_blank">
            <div class="cover-wrapper">
              <div class="cover" style="background-size: 25%;background-image: url({{absolute_url}});background-repeat:repeat;">

              </div>
            </div>
            </a>
            <div class="metadata">
              <h2><a href="{{person.url}}" target="_blank"><span>{{person.name}}</span></a></h2>
            </div>{{person.role}}
              {% capture description %}
              {{person.description[page.lang] | markdownify }}
              {% endcapture %}


             
              <div>{{ description }}</div>
              {% if person.CV %}
            <a href='{{person.CV | relative_url}}'>cv (pdf)</a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>






  </div>
</div>
