---
layout: default
---

<div class='page' id='list-of-audioaudiopost'>
  <div class='container'>
    <h1 class='title'>{% assign key="Blog"%}{% include t.html %}</h1>
    <h2 class='subheading'><span>{{page.subheading}}</span></h2>
      <div class='row' >
        <div class='col-sm-10'><div class='row'>
          {% for audiopost in site.audioaudiopost %}
          <div class='col-sm-6 audioaudiopost {% for tag in audioaudiopost.tags %}tag-{{ tag }} {% endfor %}'>
            <div class='field'>

              {% if audioaudiopost.cover.url %}
                <div class="card">
                  <img class='card-img-top' src='{{"" | relative_url}}{{audioaudiopost.cover.url}}'>
                  {% if audioaudiopost.cover.caption %}
                  <div class="card-body py-0">
                    <p class="card-text">{{audioaudiopost.cover.caption | markdownify }}</p>
                  </div>
                  {% endif %}
                </div>
              {% else %}
                {% if audioaudiopost.cover.document %}
                {% assign document = site.data.documents | where: "id", audioaudiopost.cover.document | first %}
                {% include partials/document.html %}
                {% endif %}
              {% endif %}


              <div class='metadata px-3 pb-3 {% if audioaudiopost.cover.caption %} pt-0 {% else %} pt-3 {% endif %}'>
                <h2 class='pb-3 mb-3'><a href='{{audioaudiopost.url | relative_url}}'><span>{{audioaudiopost.title}}</span></a></h2>
                <div class='date'>{{ audioaudiopost.date | date: "%b %-d, %Y"}}</div>

                <div class='tags pb-2 mb-2'>
                  {% for tag in audioaudiopost.tags %}
                  {% include tag.html %}
                  {% endfor %}
                </div>

                <div>{{ audiopost.excerpt }}</div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div></div>
        <div class='col-sm-2'>
          {% include partials/tags.html %}
        </div>
      </div>






  </div>
</div>
